.logo, article {
  font-family: "PT Sans", sans-serif;
  max-width: 35rem;
  margin: 0 auto;
  position: relative;
}

article p {
  -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto;
  text-align: justify;
}

img {
  float: left;
  max-width: 100%;
  margin: 0 1rem 1rem 0;
}

.logo a {
  text-decoration: none;
  color: black;
}

.highlight {
  overflow-x: auto;
}
