<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
  <meta charset="utf-8">
  {% if page.path == '404.html' %}<meta http-equiv="refresh" content="5; url=/">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles.css">
  {% seo %}
  {% feed_meta %}
</head>

<body>
  <h1 class="logo"><a href="/">{{ site.name }}</a></h1>
  <article>
    {% if page.title %}<h1>{{ page.title }}{% if page.link %}&nbsp;<a href="{{ page.link }}">&infin;</a>{% endif %}</h1>{% endif %}
    {% if page.date %}<time datetime="{{ page.date|date_to_xmlschema }}">{{ page.date|date_to_long_string }}</time>{% endif %}

    {{ content }}

    {% unless (page.path == 'index.html' or page.path == '404.html') and site.disqus_shortname %}
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the comments</noscript>
      <script>
        var disqus_title = '{{ page.title }}';
        var disqus_identifier = window.location.pathname;
        var disqus_url = '{{ site.github.url }}' + window.location.pathname;
      </script>
      <script src="//{{ site.disqus_shortname }}.disqus.com/embed.js" async="async"></script>
    </div>
    {% endunless %}
  </article>

  <link rel="stylesheet" href="//raw.githack.com/mojombo/tpw/master/css/syntax.css">
  <script src="//gistcdn.githack.com/neoascetic/3ac49306eacd98b47c41/raw/gol.js"></script>
  <script>GoL(document.body, { step: 5000, color: '#fdfdfd' })</script>
</body>

</html>
